{% extends 'articles/base.html' %}

{% block content %}

<div class="conteneur container-fluid justify-content-center">
    <div class="row align-text-center" style="height: 900px;">
        <div class="mx-auto col-10 col-md-8 col-lg-6 mt-3">
            <form action="" method="post" style="padding-left: 30px; padding-right: 30px; box-shadow: 1px 1px 3px 3px rgba(255, 205, 205, 0.925);">
                <div class="md-form mb-4" style="text-align: center; padding-top: 15px;">
                    <p style="font-weight: bold; font-size: x-large;">Inscription</p>
                </div>
                {% csrf_token %}
                <div class="md-form mb-4">
                    <p style="font-weight: bold;">Prenom :</p>
                    <div class="form-group">
                        <input class="form-control" type="text" name="prenom" id="prenom" required>
                    </div>
                </div>
                <div class="md-form mb-4">
                    <p style="font-weight: bold;">Nom :</p>
                    <div class="form-group">
                        <input class="form-control" type="text" name="nom" id="nom" required>
                    </div>
                </div>
                <div class="md-form mb-4">
                    <p style="font-weight: bold;">Numéro de téléphone :</p>
                    <div class="form-group">
                        <input class="form-control" name="numero_tel" required>
                    </div>
                </div>
                <div class="md-form mb-4">
                    <p style="font-weight: bold;">Email :</p>
                    <div class="form-group">
                        <input id="prix-jour" class="form-control" name="mail" required type="text">
                    </div>
                </div>
                <div class="md-form mb-4">
                    <p style="font-weight: bold;">Mot de passe :</p>
                    <div class="form-group">
                        <input class="form-control" id="prix-caution" name="mot_de_passe" required type="password">
                    </div>
                </div>
                <div class="d-flex flex-column" style="text-align: center;">
                    <input type="submit" class="creation btn btn-round custom-close mb-5" value="S'inscrire" data-toggle="modal"
                        style="width:200px;color: white; background-color: rgb(211, 0, 0); border-radius: 30px;">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}